@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #00BBD8;
    --secondary: #0071BD;
    --third: #5CE9FF;
    --forth: #D91673;
    --title: #000637;
    --text: #497898;
    --br: 0px;
    --fontH: 'Montserrat', sans-serif;
    --fontP: 'Karla', sans-serif;
    --ls: .5px;
    --lh: 28px;
    --ts: .35s all ease-in-out;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontP);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontH);   
}

a {
    text-decoration: none;
    cursor: pointer;
}

.py-70 {
    padding: 70px 0;
}

.btn-view {
    background: var(--primary);
    border-radius: var(--br);
    letter-spacing: var(--ls);
    color: var(--title);
    font-size: 15px;
    padding: 10px 20px;
}

/* header start */
.hea-div, .hea-div-box {
    z-index: 4;
}
.hea-div a {
    font-size: 18px;
 color: #fff;
 font-weight: 400;
}

.hea-div-box > ul {
    grid-gap: 15px;
}
/* header end */
/* navbar start */

.nav-div {
    z-index: 4;
}
.nav-div > .container::before {
    content: '';
    position: absolute;
    bottom: -16px;
    width: 98%;
    height: 100px;
    z-index: -1;
    background: #fff;
    opacity: .2;
    margin: 0 auto;
}

.menu-div-lst {
    margin-right: 30px;
}

.nav-div-img {
    margin-left: 30px;
}

.nav-div-img {
    width: 100px;
    padding: 15px;
}

.menu-div-lst > ul {
    grid-gap: 30px;
}

.menu-div-lst > ul > li:last-child > a {
    background: var(--secondary);
    color: #fff;
    font-family: var(--fontH)!important;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 17px!important;
}

.menu-div-lst > ul > li > a {
    color: #497898;
    font-size: 18px;
    white-space: nowrap;
    font-family: var(--fontP);
    font-weight: 500;
    letter-spacing: var(--ls);
}

.hea-nav-div{
    top: 35px;
    left: 0;
    right: 0;
}


/* navbar end */
/* silder start */
.sli-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(141.37deg, rgba(0, 187, 216, 0.95) 4.5%, rgba(0, 113, 189, 0.95) 72.85%);
    z-index: 1;
}

#sli-div-box .carousel-item {
    height: 100vh;
}


.sli-div-box {
    z-index: 1;
    top: 38%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 900px;
    text-align: center;
}

.sli-div-cnt h2 {
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
}

.sli-div-cnt > span {
    font-size: 26px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
    display: block;
}

.sli-div-btn {
    background: var(--primary);
    color: #fff;
    position: relative;
    padding: 18px 45px;
    margin: 0px auto;
    display: block;
    font-size: 18px;
    width: fit-content;
}


.scroll-element-icon > a {
    width: 25px;
    z-index: 7;
    left: 0;
    right: 0;
    margin: -100px auto 0;
    animation: up-down linear 2s infinite alternate ;
    transform-origin: 50% 50%;
}


@keyframes up-down{
    0% {
      transform:  translateY(-20px);
    }
    24% {
      transform:  translateY(-10px);
    }
    50% {
      transform:  translateY(0px);
    }
    74% {
      transform:  translateY(10px);
    }
    100% {
      transform:  translateY(20px);
    }
  }
/* slider end */

/* title start */
.title-count {
    color: var(--primary);
    font-size: 18px;
    border: 2px solid var(--primary);
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.title {
    font-weight: 800;
    font-size: 45px;
    color: var(--title);
    margin-bottom: 20px;
}
/* title end */

/* button start */
.btn-submit {
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fff!important;
    transition: .5s;
}

.btn-submit:hover:before {
    top: -30px;
    transition: .5s;
}

.btn-submit:before {
    content: '';
    position: absolute;
    top: 105px;
    left: 50%;
    width: 700px;
    height: 570px;
    margin: auto;
    background: var(--forth);
    border-radius: 50%;
    z-index: -1;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: translateX(-50%) translateY(-5%) scale(.4);
    transform: translateX(-50%) translateY(-5%) scale(.4);
    -webkit-transition: -webkit-transform .9s;
    transition: -webkit-transform .9s;
    transition: transform .9s;
    transition: .5s all ease-in-out;
}

/* button end */

/* about start */

.abt-div-cnt p, .why-div-cnt {
    color: var(--text);
    font-size: 18px;
    font-weight: 400;
    line-height: var(--lh);
}
.abt-lnk {
    background: var(--secondary);
    color: #fff;
    position: relative;
    padding: 18px 45px;
    display: block;
    font-size: 18px;
    width: fit-content;
    margin-top: 30px;
}

/* about end */


/* digital services start */

.clt_div-box-header i {
    display: none;
    }

    .clt_div-box-icon {
        width: 100px;
    }
    
    .clt_div-box-home-03{background-color:transparent;border: 2px solid #e7f4ff;width:100%;height:100%;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
    .clt_div-box-home-03 h6{font-weight:400;font-size:28px;line-height:40px;color:#000}
    .clt_div-box-home-03 h6 a{color:#000;font-size:24px;font-weight:400}
    .clt_div-box-home-03-front{
        background: linear-gradient(45deg, white 66%, #00CBD8 10px, #8ff8ff);
        backdrop-filter: blur(26px);
        border-radius: var(--br); opacity:1;padding:20px 30px;position:relative;z-index:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
    .clt_div-box-home-03-back,.clt_div-box-home-03-front{-webkit-transition:all cubic-bezier(0,.95,1,.66);-o-transition:all cubic-bezier(0,.95,1,.66);transition:all cubic-bezier(0,.95,1,.66);height:initial;}
    .clt_div-box-home-03 .card-content,.clt_div-box-home-03 .card-header{position:relative;z-index:1}
    .clt_div-box-home-03 .card-header{padding:0 2rem 0 0;margin-bottom:0;background:transparent;border:none;display:inline-block;vertical-align:middle;width:calc(100% - 30px)}
    .clt_div-box-home-03-front .card-header{-ms-flex-preferred-size:23rem;flex-basis:23rem}
    .clt_div-box-home-03 .card-icon{width:30px;height:auto;margin-bottom:0;display:inline-block;vertical-align:bottom}
    .clt_div-box-home-03 .card-icon img{max-width:100%}
    .lazyloaded{opacity:1;transition:opacity 400ms;width: 100%;
    }
    .clt_div-box-home-03-back{
        width: 100%;
        position: absolute;
        top: -30px;
        left: 0;
        padding: 20px;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        background:var(--title);
        border-radius: var(--br);
    }
    
    .clt_div-box-home-03-back h6 a > span:last-child {
        color: var(--primary);
        font-size: 22px;
        font-weight: 600;
        margin: 0;
    }
    
    .clt_div-box-home-03 .card-icon{width:60px;height:auto;margin-bottom:0}
    .clt_div-box-home-03-back .card-header{padding-right:0;color:#fff;margin-bottom:0}
    .clt_div-box-home-03 .card-header{padding:0 20px 0 0;margin-bottom:0;background:transparent;border:none}
    .clt_div-box-home-03 h6 a span{    display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        font-weight: 600;
        line-height: 30px;
        color: var(--text);
    }
    .clt_div-box-home-animate{margin-bottom:30px}
    .clt_div-box-home-03:hover .clt_div-box-home-03-back{opacity:1;visibility:visible}
    .clt_div-box-home-03:hover .clt_div-box-home-03-front{opacity:0}
    .clt_div-box-home-03:hover{-webkit-transform:scale(1.11);-o-transform:scale(1.11);transform:scale(1.11)}
    .clt_div-box-home-03.show-full-card .clt_div-box-home-03-front{display:none}
    .clt_div-box-home-03.show-full-card{z-index:10;position:relative}
    .clt_div-box-home-03.show-full-card .clt_div-box-home-03-back{height:auto;top:50%;-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
    .clt_div-box-home-03-back .card-header{width:100%}
    .clt_div-box-home-03-back .card-header h6 a{color:#fff;font-size: 18px;}
    .clt_div-box-home-03-back .list-unstyled{list-style:none;margin:0;padding:0;padding-left:22px}
    .clt_div-box-home-03-back .clt_div-box-header span{
        color: rgb(255 255 255);
        font-size: 15px;
        line-height: 26px;
        font-weight: 300;
        opacity: .9;
        padding: 0 30px;
        letter-spacing: 1px;
        display: block;
    }
    
    .clt_div-box-home-03-back .clt_div-box-icon {
        padding-top: 15px;
    }
    
    .clt_div-box-home-03-back .clt_div-box-icon > i {
        filter: invert(1);
        font-size: 100px;
        position: absolute;
        top: 0;
            opacity: .1;
        }
    
    
    .clt_div-box-home-03-back .list-unstyled li a:hover{text-decoration:none}
    .clt_div-box-home-03-back .card-header h6{font-size:22px}
    .clt_div-box-home-03-back .card-icon{-webkit-transform:scale(2.5);-o-transform:scale(2.5);transform:scale(2.5);opacity:.1;position:absolute;top:75px;right:0;width:auto;height:auto}
    .clt_div-box-home-03:hover .clt_div-box-home-03-back .card-icon{-webkit-filter:brightness(0) invert(1);filter:brightness(0) invert(1)}
    .clt_div-box-home-03-back .card-icon i{width:90px}
    .card-home-animate{
        margin-bottom: 20px;
    }
    
    .clt_div-box-home-03.showCard {
        z-index: 10;
        position: relative;
    }
    
    .mb-20 {
        margin-bottom: 20px;
    }
    .dig_tsf_div {
        background-color: #01a3a9;
        padding: 100px 0 100px;
    }
    
    .dig_tsf_div_cnt_title i {
        font-size: 20px;
    }
    
    
    .dig_tsf_title > h2 {
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        color: #1c1c1c;
    }
    
    .dig_tsf_title > span {
        font-size: 18px;
        color: #efefef;
        margin-bottom: 0;
        letter-spacing: 0;
        line-height: 30px;
        font-weight: 400;
    }
    
    /* digital services end */

/* welcome start */
.why-us {
    background-color: #000637e8;
    padding-bottom: 260px;
}

.why-us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/slider-demo-8v4.jpg');
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

.why-div-box .title {
    color: var(--primary)!important;
}
.why-div-img i {
    font-size: 80px;
    background: var(--text);
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.wave {
    border: 1px solid #fff;
    height: 150px;
    width: 150px;
    z-index: 0;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 100%;
    transform: scale(1.3);
   -webkit-animation: waves 3s ease-in-out infinite;
   animation: waves 3s ease-in-out infinite;
}

.wave::before {
    content: '';
    border: 1px solid #ffffffbf;
    height: 150px;
    width: 150px;
    z-index: 0;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 100%;
   -webkit-animation: waves 3s ease-in-out infinite;
   animation: waves 3s ease-in-out infinite;   
}

@keyframes waves {
    0% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
      opacity: 0.9;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
      -webkit-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }



/* welcome end */
/* services start */
.ser-div-item {
    background: #fff;
    padding: 40px 30px;
    margin: 0 10px 50px;
    box-shadow: 1px 1px 20px #1419461c;
}

.ser-div-cnt {
    margin: 0px 15px;
    text-align: center;
}

.ser-div {
    margin-top: -280px;
}

.ser-div-cnt > h3 {
    font-size: 22px;
    font-weight: 700;
    color: var(--title);
    margin-bottom: 15px;
    line-height: var(--lh);
}

.ser-div-icon {
    width: 100px;
    height: 100px;
    background: linear-gradient(133.38deg, #00CBD8 3.94%, #01A9B4 87.45%);
    display: block;
    border-radius: 100%;
    margin: 0 auto 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ser-div-box .owl-wrapper .owl-item:nth-child(2) .ser-div-icon {
    background-image: linear-gradient(133.38deg, #984974 3.94%, #940352 87.45%);
}

#ser-div-box .owl-wrapper .owl-item:nth-child(3) .ser-div-icon {
    background-image: linear-gradient(133.38deg, #0071BD 3.94%, #005C9A 87.45%);
}


.ser-div-icon::before {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 0;
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 3px;
    opacity: .4;
    background: var(--text);
    right: 0;
}

.ser-div-icon > i {
    color: #fff;
    font-size: 40px;
}

.ser-div-cnt p {
    color: var(--text);
    font-size: 18px;
    font-weight: 400;
    line-height: var(--lh);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ser-div-cnt a {
    color: var(--primary);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    display: block;
}


/* services end */

/* client start */

/* client end */
/* testimonial start */
.tes-div {
    background-image:  linear-gradient(180deg, rgb(0 208 221 / 95%) 0%, #00bbd8f5 100%);
}

.tes-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/slider-demo-8v4.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

.tes-div-nme {
    text-align: center;
}

.tes-div-nme h5 {
    text-align: center;
    font-weight: 700;
    color: var(--title);
    font-size: 22px;
    margin-bottom: 0;
}

.tes-div-img-1 {
    width: 80px;
    margin: 0 auto 10px;
}

.tes-div-icn {
    width: 80px;
    margin: 0 auto 30px;
    opacity: .8;
}

.tes-div-nme span {
color: var(--text);
font-size: 16px;
opacity: .8;
}

.tes-div-cnt p {
    text-align: center;
    font-size: 18px;
    line-height: var(--lh);
    color: var(--text);
    margin-bottom: 30px;
}

.tes-div-box-1 {
        background: #fff;
    padding: 40px 30px;
    margin: 0 10px 50px;
    box-shadow: 1px 1px 20px #1419461c;
    position: relative;
}

/* testimonial end */
/* gallery start */
.gal-div-box {
    height: 650px;
    background: var(--text);
}

.gal-div-box  > img, .gal-div-box1 > img, .gal-div-box2  > img {
    height: 100%;
    object-fit: cover;
}
.gal-div-box1 {
    height: 420px;
}

.gal-div-box2 {
    margin-top: 10px;
    height: 212px;
    background: rgb(226, 226, 226);
}

.client-box > a {
    width: 300px;
    display: grid;
    margin: 0 12px;
    align-items: center;
}

.client-box1 > a , .client-box2 > a{
    width: 300px;
    display: grid;
    margin: 10px 30px;
    align-items: center;
}



/* gallery end */
/* map start */

/* map end */
/* footer start */
footer {
    background-image: linear-gradient(98.69deg, rgba(0, 113, 189, 0.96) 0.26%, rgba(10, 91, 145, 0.96) 71.97%);
}
footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/slider-demo-8v4.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

    .foo-div-img {
        width: 110px;
        background: #fff;
        margin-bottom: 30px;
        border-radius: 22px;
        height: 95px;
        padding: 10px 18px 10px;
    }

.foo-div-img + p {
    color: rgba(255, 255, 255, 0.56);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: block;
}


.foo-soc-div > ul > li > a {
    color: var(--title);
}

.foo-soc-div > ul::before {
    content: '';
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 600px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.foo-soc-div i.fa-facebook-f:hover {
    background: #4867aa;
    color: #fff;
    border-color: #fff;
}

.foo-soc-div i.fa-twitter:hover {
    background: #4cbbf4;
    color: #fff;
    border-color: #fff;
}

.foo-soc-div i.fa-instagram:hover {
    background-image: linear-gradient(45deg, #475cc8, #a936a5, #f7743f, #f7cb4d);
    color: #fff;
    border-color: #fff;
}

.foo-soc-div i.fa-youtube:hover {
    background: #d6064c;
    color: #fff;
    border-color: #fff;
}

.foo-soc-div > ul > li > a > i {
    font-size: 22px;
    color: #ffffff59;
    border: 2px solid rgb(83 137 174);
    background: #085f9a;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 4;
    position: relative;
    transition: var(--ts);
}

.foo-soc-div > ul {
    grid-gap: 30px;
}


.foo-div-box-1-lst h5 {
    font-size: 22px;
    color: #fff;
    letter-spacing: var(--ls);
    margin-bottom: 40px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}

.foo-div-box-1-lst ul {
    margin-top: 30px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.foo-div-box-1 {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
}

.foo-div-box-1-lst ul > li > a {
    letter-spacing: var(--ls);
    color: rgba(255, 255, 255, 0.56);
    font-size: 18px;
    font-weight: 400;
    padding-left: 12px;
    line-height: 40px;
    transition: var(--ts);
}

.foo-div-box-1-lst ul > li > a:hover {
    color: #fff;
}


.foo-div-box-1-lst > h4 {
    color: #fff;
    letter-spacing: var(--ls);
    font-weight: 600;
    margin-bottom: 40px;
    line-height: var(--lh);
}

.foo-div-box-1-lst-btn {
    background: var(--primary);
    color: #fff;
    position: relative;
    padding: 15px 35px;
    display: block;
    font-size: 18px;
    width: fit-content;
    margin-top: 30px;
}

.foo-copy-div span, .foo-copy-div a {
    font-size: 17px;
    color: var(--text);
    transition: var(--ts);
}

.foo-copy-div a {
    margin-left: 30px;
    white-space: nowrap;
}

.foo-copy-div a:hover {
    color: var(--primary);
}

/* footer end */
/* form start */
.frm-div {
z-index: 1;
    background: linear-gradient(270.58deg, #115C8E 3.57%, #000421 92.25%);
}

.frm-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(../img/form-bg.png);
    height: 100%;
    background-size: auto;
    background-attachment: fixed;
    z-index: -1;
    opacity: .2;
    background-position: center center;
}


.form-control {
    border-radius: var(--br);
}
.frm-div-inp {
    margin-bottom:20px;
}
.frm-div-inp > input[type="text"] {
    padding: 15px 20px;
    font-size: 17px;
    color: var(--text);
    font-weight: 500;
}

.frm-div-inp > textarea {
    font-size: 17px;
    font-weight: 500;
    padding: 15px 20px;
    color: var(--text);
}
.frm-submit-btn {
    background: var(--primary);
    position: relative;
    padding: 14px 40px;
    display: block;
    font-size: 18px;
    width: fit-content;
    margin: 0 auto;
    border: none;
    box-shadow: none;
}

/* form end */
